@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* Override default style and set padding and margin to nothing */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

/* White text throughout */

body {
  color: black;
  font-family: $font-text;
  font-size: $font-size-general;
}


.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: $screen-size-desktop-l;
  overflow: visible;

  @media screen and (max-width: $screen-size-desktop-xl) {
    max-width: $screen-size-desktop-s;
  }

  @media screen and (max-width: $screen-size-desktop-l) {
    max-width: $screen-size-tablet;
  } 
  @media screen and (max-width: $screen-size-tablet) {
    max-width: 100%;
  } 
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  flex-direction: column;
}

section.container {
  display: flex;
  flex-direction: row;

  figure {    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: em(12px);
    width: em($space-width * 5);
  }
  
  article {
    padding: em(12px);
    width: em($space-width * 7);
  }

  @media screen and (max-width: $screen-size-tablet) {
    flex-direction: column;
    figure {
      width: 100%;
    }
    article {
      width: 100%;
    }
  }
}

section.section-right {
  flex-direction: row-reverse;

  figure {
    width: em($space-width * 7);
  }
  
  article {
    width: em($space-width * 5);
  }

  @media screen and (max-width: $screen-size-tablet) {
    flex-direction: column-reverse;
  }
}

section.center {
  flex-direction: column;
  figure {
    width: 100%;
  }
  
  article {
    width: 100%;
  }
}

/* Make all link text black with no text decoration */
a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: em(30px);
  font-weight: 600;
  line-height: 1.2;
  margin: em(10px) 0;
}


h2 {
  font-size: em(56px);
  font-weight: 300;
  margin: em(10px) 0;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-size: em(20px);
  line-height: 1.5;
  margin: 0 0 em(20px) 0;
  font-weight: 200;
}

/* All images must not be larger than parent container */
img {
  height: auto;
  max-width: 100%;
}

/* No styling on list items */
li {
  list-style-type: none;
}

.btn {
  background: white;
  border-radius: em(12px);
  color: $text-black;
  font-size: em(32px);
  font-weight: 700;
  text-align: center;
  padding: em(6px) em(20px);
  text-transform: uppercase;

  @media screen and (max-width: $screen-size-tablet) {
    font-size: em(24px);
    padding: em(4px) em(10px);
  }
}

main {
  align-items: center;
  flex-direction: column;
}

// font-family: 