@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* Override default style and set padding and margin to nothing */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

/* White text throughout */

body {
  color: black;
  font-family: $font-text;
  font-size: $font-size-general;
}

/* Make all link text black with no text decoration */
a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: em(30px);
  font-weight: 600;
  line-height: 1.2;
  margin: em(10px) 0;
}


h2 {
  font-size: em(25px);
  font-weight: 300;
  margin: em(10px) 0;
  line-height: 1.2;
}

p {
  font-size: em(1px);
  margin: 1 em(10px) 0;
}

/* All images must not be larger than parent container */
img {
  max-width: 100%;
}

/* No styling on list items */
li {
  list-style-type: none;
}


.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: $screen-size-desktop-xl;
  overflow: visible;

  @media screen and (max-width: $screen-size-desktop-xl) {
    max-width: $screen-size-desktop-l;
  }

  @media screen and (max-width: $screen-size-desktop-l) {
    max-width: 100%;
  } 
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  flex-direction: column;
}

.btn {
  background: white;
  border-radius: em(12px);
  color: $text-black;
  font-size: em(32px);
  font-weight: 700;
  padding: em(6px) em(20px);

  @media screen and (max-width: $screen-size-tablet) {
    font-size: em(24px);
    padding: em(4px) em(10px);
  }
}

// font-family: 