.header {
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  height: em(600px);
  justify-content: center;

  &__top {
    .container {
      justify-content: space-between; 
    }
  }

  &__logo {
    width: em($space-width * 2);
  }

  &__nav {
    width: em($space-width * 8);
  }

  &__hero {
    padding: 5em 0;

    .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    p {
      color: $text-white;
      font-size: em(56px);
      line-height: 1.2;
  
      strong {
        font-weight: 700;
      }
    }

    .btn {
      margin-top: em(30px);
    }
  } 

  @media screen and (max-width: $screen-size-tablet) {
    &__logo {
      width: em($space-width * 10);
    }

    &__nav {
      width: em($space-width * 2);
    }

    &__hero {
      padding: 2em 0;

      p {
        font-size: em(36px);
      }
    }
  }
}