.nosotros {
  background-color: $text-black;
  border-radius: em(32px);
  color: $text-white;
  margin: em(128px) 0;
  padding: em($space-width * 0.7) em($space-width * 0.7) em($space-width * 0.7) 0 
}