.servicios {
  background-color: $text-purple;
  padding: em($space-width * 1) 0 em($space-width * 2) 0;
  margin-bottom: em($space-width * -1.1);
  width: 100%;

  &__figure, &__articles {
    width: 50%;
  }

  h2 {
    color: $text-white;
    margin-bottom: em(30px);
    text-align: center;
  }
  &__figure {
    padding-right: em(60px);
  }
  
  &__info {
    padding-left: em(30px);

    h4 {
      color: $text-white;
      font-size: em(24px);
      font-weight: 800;
      margin-bottom: em(12px);
    }
  }

  &__article-text {
    color: $text-white;
    font-size: em(20px);
    line-height: 1.2;

    p {
      font-weight: 200;
    }
  }

  &__article {
    background-color: $text-black;
    border-radius: em(32px);
    display: flex;
    flex-direction: row;
    margin-bottom: em(30px);
    padding: em(26px);
  
    &:nth-child(even) {
      background-color: $text-white;
      .servicios__info {
        h4 {
          color: $text-black;
        }
        .servicios__article-text {
          color: $text-black;
        }
      }
    }
  }

  &__article-ico {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    width: rem($space-width * 4);

    img {
      height: em($space-width * 1);
    }
  }

  @media screen and (max-width: $screen-size-desktop-xl) {
    &__figure {
      padding-right: em(20px);
    }
    &__article {
      padding: em(16px);
    }
    &__info {
      padding-left: em(16px);

      h4 {
        font-size: em(18px);
        margin-bottom: em(8px);
      }
    }
    &__article-text {
      font-size: em(16px);
      line-height: 1.2;
    }


    &__article-ico {
      width: rem($space-width * 4);

      img {
        height: em($space-width * 0.9);
      }
    }
  }

  @media screen and (max-width: $screen-size-desktop-l) {
    .container {
      flex-direction: column;
    }
    &__figure, &__articles {
      width: 100%;
    }

    &__info {
      padding-left: em(16px);

      h4 {
        font-size: em(24px);
        margin-bottom: em(16px);
      }
    }
    &__article-text {
      font-size: em(20px);
    }
  }
}