$font-heading: 'Nunito Sans', sans-serif;
$font-text: 'Nunito Sans', sans-serif;

// screen sizes
$screen-size-desktop-xl: 1536px;
$screen-size-desktop-l: 1280px;
$screen-size-desktop-s: 962px;
$screen-size-tablet: 768px;
$screen-size-phone: 414px;
$space-width: 128px;

$font-size-general: 16px;
@function em($pixels) {
  // @return ($pixels / $font-size-general) * 1em;
  @return (math.div($pixels, $font-size-general)) *1em;
}

$text-white: #fff;
$text-black: #171b3f;
$text-purple: #4a57c6;