$font-heading: 'Nunito Sans', sans-serif;
$font-text: 'Nunito Sans', sans-serif;

// colors


// screen sizes
$screen-size-desktop-xl: 1536px;
$screen-size-desktop-l: 1280px;
$screen-size-tablet: 768px;
$screen-size-phone: 414px;
$space-width: 128px;


$font-size-general: 16px;
@function em($pixels) {
  @return ($pixels / $font-size-general) * 1em;
}

$text-white: #fff;
$text-black: #171b3f;